{% extends 'navbar.html' %}

{% block body %}

<body onload=grantmeet()>
  <div class="adminRoomView">
    {% for i in adminRoom %}
    <div class='adminform'>
      <form action="Grantmeet" method="POST">
        {% csrf_token %}
        <input type="hidden" class="roomIdValue" id="value" name="value" value="{{i.id}}">
        <input type="hidden" class="grantMeetingValue" id="boolValue" name="boolValue" value="{{i.grant_meeting}}">
        {{i.room_Name}} at
        {{i.meeting_start_time}} to {{i.meeting_end_time}} on Date {{i.room_book_date}}
        by {{i.room_booked_by_user}}
        | Room Status |
        <label class="toggle">
          <input type="checkbox">
          <span class="labels" onclick="setTimeout(spanClick.bind(null,this.id),500);" data-on="Approved" data-off="Pending"></span>
        </label>
        <div id="" style="display:none;" class="btnSubmitId"><button>Submit</button></div>
      </form>
      <a href ="{% url 'editRoom' i.id %}" class = "btn btn-success">Edit</a>
        <br>
        </li>
      <form action={% url 'cancelbook' i.id %} method = "POST">
        {% csrf_token %}
        <div id="" style="display:none;" class="btnCancelId" onclick="btnCancelClick(this.id)"><button>Cancel This Meeting</button></div>
        <div id="" style="display:none;" class="btnCancelIdConfirm"><button type="Submit" onclick="btnCancelClick()">Cancel</button></div>
      </form>
    </div>
    {% endfor %}
  </div>
</body>
{% endblock body %}