{% extends 'navbar.html' %}


{% block body %}
<!--Login Area-->
<div class="Container m-2">
    <div class="viewArea">
      <form action="/status" method="POST">
        {% csrf_token %}
        <div class="d-inline">
          {% comment %} Showing Available Rooms For
           <select name="dayPicker" id="dayPicker">
            <option value="volvo">Today</option>
            <option value="saab">Tomorrow</option>
          </select>
          Or. {% endcomment %}
          Pick a room:
          <label for="roomName" name='roomName'>{{ room.room_Name }}</label>
          <label for="datePicker">Pick a date:</label>
          <input type="date" id="datePicker" name="datePicker" required>
          <label for="appt">Select a time:</label>
          <input type="time" id="startTime" name="startTime" >
          <label for="appt">To:</label>
          <input type="time" id="endTime" name="endTime" >
          <button type='Submit'>Search</button>
      </form>
    </div>
    <div class="roomDisplay">
      {% if availability %}
      <form action="bookroom" method="POST">
        {% csrf_token %}
        <input type="hidden" name="roomName" value="{{roomName}}">
        <input type="hidden" name="Date" value="{{Date}}">
        <input type="hidden" name="bookStartTime" value="{{bookStartTime}}">
        <input type="hidden" name="bookEndTime" value="{{bookEndTime}}">
        <input type="hidden" name="user" value="{{user}}">
      <button type="Submit"> Book Now </button>
      </form>
      {% else %}
      {% endif %}
    </div>
    </div>
  <!--Login Area-->
  
{% endblock body %}