{% extends 'navbar.html' %}

{% block yourRoomButton %}Your Room{% endblock yourRoomButton %}

{% block body %}
<!--Room Search Area-->
<div class="dashContainer">
<div class="dashMenu">
  <h5>Menu</h5>
  <div class="menuList">
    <a class="nav-link active" aria-current="page" href="Room" style='color:white;'>
      Your Rooms
    </a>
    <a class="nav-link active" aria-current="page" href="Account" style='color:white;'>
      Account
    </a>
  </div>
</div>
<div class="dashBody">
    <form action="Status" method="POST">
      {% csrf_token %}
      <div class="d-inline">
        Pick a room:
        <label for="roomName" name='roomName'>{{ room.room_Name }}</label>
        <label for="datePicker">Pick a date:</label>
        <input type="date" id="datePicker" name="datePicker" required>
        <label for="appt">Select a time:</label>
        <input type="time" id="startTime" name="startTime">
        <label for="appt">To:</label>
        <input type="time" id="endTime" name="endTime">
        <button type='Submit'>Search</button>
    </form>
  </div>
  <div class="dashRoomDisp">
    {% if availability %}
    <form action="Bookroom" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <h2>{{ roomName }} is Available<h2>
        </div>
      </div>
      <div class="row">
        <div class="col">{{roomName}} on
          {{Date}} at
          {{bookStartTime}} to {{bookEndTime}} is Available
          <input type="hidden" name="roomName" value="{{roomName}}">
          <input type="hidden" name="Date" value="{{Date}}">
          <input type="hidden" name="bookStartTime" value="{{bookStartTime}}">
          <input type="hidden" name="bookEndTime" value="{{bookEndTime}}">
          <input type="hidden" name="user" value="{{user}}">
          <button type="Submit"> Book Now </button>
        </form>
          <a href="/"><button type="button">Cancel
          </button></a>
        </div>
      </div>
    {% else %}
    <h3>Displaying Booked Rooms for Today</h3>
    {% endif %}
        {% for i in bookedrooms %}
        <li>{{ i.room_Name }} from {{i.meeting_start_time}} to {{i.meeting_end_time}} by {{i.room_booked_by_user}}</li>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!--Room Search Area-->


{% endblock body %}