{% extends 'navbar.html' %}

{% block yourRoomButton %}Your Room{% endblock yourRoomButton %}

{% block body %}
{% load static %}
<!--Room Search Area-->
<div class="dashContainer">
<div class="dashMenu">
  <h5 class='menuHeader'>Menu</h5>
  <div class="menuList">
    {% if admin %}
    <a class="nav-link active" aria-current="page" href="Room" style='color:white;'>
      Room Bookings
    </a>
    {% else %}
    <a class="nav-link active" aria-current="page" href="Room" style='color:white;'>
      Your Booked Rooms
    </a>
    {% endif %}
    <a class="nav-link active" aria-current="page" href="Account" style='color:white;'>
      Account
    </a>
  </div>
</div>

{% comment %} {% if admin %}
<div class="dashBody">
{% else %} {% endcomment %}
<div class="dashBody">
  <form action="Status" method="POST" class='SearchForm'>
    {% csrf_token %}
    <div class="d-inline">
      <div class="row g-3">
        <div class="col">
          Pick a room:
      <label for="roomName" name='roomName'>{{ room.room_Name }}</label>
        </div>
        <div class="col">
          <label for="datePicker">Pick a date:</label><br>
          <input type="date" id="datePicker" name="datePicker" required>
        </div>
        <div class="col">
          <label for="appt">Start Time:</label>
      <input type="time" id="startTime" name="startTime" required>
        </div>
        <div class="col">
          <label for="appt">End Time:</label>
      <input type="time" id="endTime" name="endTime" required>
        </div>
        <div class="col mt-4">
          <button type='Submit' id='SearchBtn'>Search<img src="{%static 'searchbtn.png'%}" alt="search" width="15" height="15" style="margin-left:2px;"></button>
        </div>
      </div>
  </form>
</div>
{% comment %} {% endif %} {% endcomment %}
<div class="dashRoomDisp">
  {% if availability %}
    <form action="Bookroom" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <h2>{{ roomName }} is Available<h2>
        </div>
      </div>
      <div class="row">
        <div class="col">{{roomName}} on
          {{Date}} at
          {{bookStartTime|date:"h:i A"}} to {{bookEndTime|date:"h:i A"}} is Available
          <input type="hidden" name="roomName" value="{{roomName}}">
          <input type="hidden" name="Date" value="{{Date}}">
          <input type="hidden" id='bookStartTime' name="bookStartTime" value="{{bookStartTime|date:"h:i A"}}">
          <input type="hidden" id='bookEndTime' name="bookEndTime" value="{{bookEndTime|date:"h:i A"}}">
          <input type="hidden" name="user" value="{{user}}">
          <button type="Submit"> Book Now </button>
        </form>
          <a href="/"><button type="button">Cancel
          </button></a>
        </div>
      </div>
    {% else %}
    {% if bookedrooms %}
    <h3>Displaying Booked Rooms for Today</h3>
    {% for i in bookedrooms %}
    <li>{{ i.room_Name }} from {{i.meeting_start_time|date:"h:i A"}} to {{i.meeting_end_time|date:"h:i A"}} by {{i.room_booked_by_user}}</li>
    {% endfor %}

    {% comment %} PAGINATOR {% endcomment %}

    {% comment %} { Page {{todayRoomPage.number}} of {{todayRoomPage.paginator.num_pages}} }

    {% if todayRoomPage.has_previous %}
    <a href="?page=1">&laquo First</a>
    <a href="?page={{todayRoomPage.previous_page_number}}">Previous</a>
    {% endif %}
    {% if todayRoomPage.has_next %}
    <a href="?page={{todayRoomPage.next_page_number}}">Next</a>
    <a href="?page={{todayRoomPage.paginator.num_pages}}">Last &raquo</a>  
    {% endif %} {% endcomment %}

    {% comment %} PAGINATOR {% endcomment %}

    {% else %}
    <h3>No Room Bookings For Today</h3>
    
    {% endif %}
    </div>
    <div class="dashRoomDisp">
    {% if bookedroomsTomorrow %}
    <h3>Displaying Booked Rooms for Tomorrow</h3>
    {% for i in bookedroomsTomorrow %}
    <li>{{ i.room_Name }} from {{i.meeting_start_time|date:"h:i A"}} to {{i.meeting_end_time|date:"h:i A"}} by {{i.room_booked_by_user}}</li>
    {% endfor %}

    {% comment %} PAGINATOR {% endcomment %}

    {% comment %} { Page {{tomorrowRoomPage.number}} of {{tomorrowRoomPage.paginator.num_pages}} }

    {% if tomorrowRoomPage.has_previous %}
    <a href="?pageTomorrow=1">&laquoFirst</a>
    <a href="?pageTomorrow={{tomorrowRoomPage.previous_page_number}}">Previous</a>
    {% endif %}
    {% if tomorrowRoomPage.has_next %}
    <a href="?pageTomorrow={{tomorrowRoomPage.next_page_number}}">Next</a>
    <a href="?pageTomorrow={{tomorrowRoomPage.paginator.num_pages}}">Last&raquo</a>
    {% endif %} {% endcomment %}

    {% comment %} PAGINATOR {% endcomment %}

    </div>
    {% else %}
    <h3>No Room Bookings For Tomorrow</h3>
    {% endif %}
  {% endif %}
</div>

<!--Room Search Area-->


{% endblock body %}