{% extends 'navbar.html' %}


{% block body %}
<!--Room Search Area-->
<div class="Container m-2">
  <div class="viewArea">
    <form action="/status" method="POST">
      {% csrf_token %}
      <div class="d-inline">
        Pick a room:
        <label for="roomName" name='roomName'>{{ room.room_Name }}</label>
        <label for="datePicker">Pick a date:</label>
        <input type="date" id="datePicker" name="datePicker" required>
        <label for="appt">Select a time:</label>
        <input type="time" id="startTime" name="startTime">
        <label for="appt">To:</label>
        <input type="time" id="endTime" name="endTime">
        <button type='Submit'>Search</button>
    </form>
  </div>
  <div class="roomDisplay">
    {% if availability %}
    <form action="bookroom" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <h2>{{ roomName }} is Available<h2>
        </div>
      </div>
      <div class="row">
        <div class="col">{{roomName}} on
          {{Date}} at
          {{bookStartTime}} to {{bookEndTime}} is Available
          <input type="hidden" name="roomName" value="{{roomName}}">
          <input type="hidden" name="Date" value="{{Date}}">
          <input type="hidden" name="bookStartTime" value="{{bookStartTime}}">
          <input type="hidden" name="bookEndTime" value="{{bookEndTime}}">
          <input type="hidden" name="user" value="{{user}}">
          <button type="Submit"> Book Now </button>
        </div>
      </div>
    </form>
    {% else %}
    
    {% endif %}
    <div class="row">
      <div class="col">
        <div class="roomDisplay">
          <h3>Displaying Booked Rooms for Today</h3>
        {% for i in bookedrooms %}
        <li>{{ i.room_Name }} from {{i.meeting_start_time}} to {{i.meeting_end_time}} by {{i.room_booked_by_user}}</li>
        {% endfor %}
      </div>
      <div>
        {% if user == "manager" %}
        HELLO MANAGER
        {% else %}
        {% endif %}
        {% if user == "user" %}
        BELLO BANAGER
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!--Room Search Area-->


{% endblock body %}