{% extends 'navbar.html' %}
{% block body %}
{% load static %}


<!--Room Display Area-->
<div class="subContainer">
  <div class="viewArea">
    <div class="col">
      <form action="Status" method="POST" class='SearchForm'>
        {% csrf_token %}
        <div class="d-inline">
          {% if availability %}
          <h2>{{ roomName }} is Available<h2>
          {% else %}
          <div class="row">
            <div class="col">
              <label>Pick a Room:</label>
          <label for="roomName" name='roomName'>{{ room.room_Name }}</label>
            </div>
            <div class="col">
              <label for="datePicker">Pick a Date:</label><br>
              <input type="date" id="datePicker" name="datePicker" required>
            </div>
            <div class="col">
              <label for="appt">Start Time:</label>
          <input type="time" id="startTime" name="startTime" required>
            </div>
            <div class="col">
              <label for="appt">End Time:</label>
          <input type="time" id="endTime" name="endTime" required>
            </div>
            <div class="col mt-2">
              <button type='Submit' id='SearchBtn'>Search<img src="{%static 'searchbtn.png'%}" alt="search" width="15" height="15" style="margin-left:2px;"></button>
            </div>
          </div>
          {% endif %}
      </form>
    </div>
  <div class="col02">
    <div class="roomDisplay">
    {% if availability %}
      {% else %}
        {% if bookedrooms %}
        <h3>Displaying Booked Rooms for Today</h3>
        {% for i in bookedrooms %}
        <li>{{ i.room_Name }} from {{i.meeting_start_time|date:"h:i A"}} to {{i.meeting_end_time|date:"h:i A"}} by {{i.room_booked_by_user}}</li>
        {% endfor %}

        {% comment %} { Page {{todayRoomPage.number}} of {{todayRoomPage.paginator.num_pages}} }

        {% if todayRoomPage.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{todayRoomPage.previous_page_number}}">Previous</a>
        {% endif %}
        {% if todayRoomPage.has_next %}
        <a href="?page={{todayRoomPage.next_page_number}}">Next</a>
        <a href="?page={{todayRoomPage.paginator.num_pages}}">Last &raquo</a>  
        {% endif %} {% endcomment %}

        {% else %}
        <h3 style='text-align:left;'>No Bookings For Today</h3>
        {% endif %}
    </div>
    <div class="roomDisplay">
        {% if bookedroomsTomorrow %}
        <h3>Displaying Booked Rooms for Tomorrow</h3>
        {% for i in bookedroomsTomorrow %}
        <li>{{ i.room_Name }} from {{i.meeting_start_time|date:"h:i A"}} to {{i.meeting_end_time|date:"h:i A"}} by {{i.room_booked_by_user}}</li>
        {% endfor %}

        {% comment %} { Page {{tomorrowRoomPage.number}} of {{tomorrowRoomPage.paginator.num_pages}} }

        {% if tomorrowRoomPage.has_previous %}
        <a href="?pageTomorrow=1">&laquoFirst</a>
        <a href="?pageTomorrow={{tomorrowRoomPage.previous_page_number}}">Previous</a>
        {% endif %}
        {% if tomorrowRoomPage.has_next %}
        <a href="?pageTomorrow={{tomorrowRoomPage.next_page_number}}">Next</a>
        <a href="?pageTomorrow={{tomorrowRoomPage.paginator.num_pages}}">Last&raquo</a>
        {% endif %} {% endcomment %}

        {% else %}
        <h3 style='text-align:left;'>No Bookings For Tomorrow</h3>
        {% endif %}     
        {% endif %}
        {% if availability %}
        {{roomName}} on 
        {{Date}} at 
        {{bookStartTime}} to {{bookEndTime}} is Available
        {% comment %} <button type="button" id="button" data-bs-toggle="modal" data-bs-target="#RoomBookModal"> Book Now </button> {% endcomment %}
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
    
<!--Room Display Area-->


<!--Login Area-->
  <div class="loginArea">
    <form action="/Login" method="POST">
        {% csrf_token %}
        <div class="loginHeader">
          <h4 style="color:white;">Login</h4>
        </div>
        <div class="inputField">
          <div class="userNameInput">
            <input type="text" id="username" placeholder="Enter Username" style="text-align: center" name="username"
              />
          </div>
          <div class="userPasswordInput">
            <input type="password" id="password" style="text-align: center" placeholder="Password" name="password"
              />
          </div>
          <div class="LoginButton">
            <button type='Submit' id="Loginbtn" style="color:white;">Log In</button>
          </div>
          <div class="forgotPassLink">
          <a href="{% url 'password_reset' %}" id="resetPasswordLink">Forgot Password ?</a>
        </div>
      </div>
      
    </form>
    <div class="line"></div>
      <div class="orText">Or</div>
        <button type="button" id="newAccountBtn" data-bs-toggle="modal" data-bs-target="#SignUpModal">Create account
        </button>
  </div>
<!--Login Area-->

<!-- Sign Up Modal -->
  <form action='Signup/' method='POST'>
  {% csrf_token %}
  <div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create an account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="Username" class="form-label">Enter a Username:</label>
            <input type="text" class="form-control" id="Username" name="Username" placeholder="Create a Username" required>
          </div>
          <div class="mb-3">
            <label for="first_Name" class="form-label">First Name:</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name">
          </div>
          <div class="mb-3">
            <label for="last_Name" class="form-label">Last Name:</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Your Last Name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address:</label>
            <p id="error" title="Enter a valid email"></p>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email" onkeydown="emailValid()">
          </div>
          <div class="mb-3">
            <label for="pass1" class="form-label">Create a Password:</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Create a Password">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Re-Enter your created Password">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
          <button type='Submit' class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>
  </div>
  </form>
<!-- Sign Up Modal -->

<!--Please Login Modal-->
  {% csrf_token %}
  <div class="modal fade" id="RoomBookModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header text-center">
          {% comment %} <h5 class="modal-title w-100" id="exampleModalLabel">Please Log In To Continue</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
        </div>
        <div class="modal-body">         
          <div class="mb-3 text-center">
            <h5>Please Log In</h5>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--Please Login Modal-->

{% endblock body %}