{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}" /> 
  <!--Call bootstrap first so that it doesnot conflict with toastr-->
  <link rel="stylesheet" href="{% static 'toastr.css' %}" />
  <link rel="stylesheet" href="{% static 'css.css' %}" />
  <title>MRBA</title>
</head>
<body>

<!--Nav Bar-->
  <div class="navBar">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="background-color: white !important">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="pointer-events: none; cursor: default;">
          <img src="{% static 'logo.gif' %}" alt="" width="40" height="40"/>
        </a>
        <a class="navbar-brand" href="/">Meet On</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
          {% comment %}
          {% if user.is_authenticated %}
            <div class="activity_light" style="border-radius: 100px;
            height: 10px;
            width: 10px;
            background-color: rgb(56, 227, 56);
            -webkit-filter: blur(1px);
            -moz-filter: blur(1px);
            -o-filter: blur(1px);
            -ms-filter: blur(1px);
            filter: blur(1px);"></div>
            <div class="navbar-nav">
              <a class="nav-link" href="/" style="pointer-events: none; cursor: default;">Available</a>
            </div>
          {% else %}
          <div class="activity_light" style="border-radius: 100px;
          height: 10px;
          width: 10px;
          background-color: rgb(237, 37, 37);
          -webkit-filter: blur(1px);
          -moz-filter: blur(1px);
          -o-filter: blur(1px);
          -ms-filter: blur(1px);
          filter: blur(1px);"></div>
          <div class="navbar-nav">
            <a class="nav-link" href="/" style="pointer-events: none; cursor: default;">Unavailable</a>
          </div>
          {% endif %}
          {% endcomment %}
            </li>
          </ul>
            <ul class="navbar-nav">
            <li class="nav-item">
              {% comment %} <a class="nav-link active" aria-current="page" href="room">{% block yourRoomButton %}{% endblock yourRoomButton %}</a> {% endcomment %}
            </li>
          </ul>
          
        {% if user.is_authenticated %}
        <span class="navbar-text">
          Welcome, {{request.user.username}}
        </span>
        <a href="Signout">
        <button class="btn btn-danger m-2">Log Out</button></a>  
        {% else %}
        {% endif %}
        </div>
        </div>
      </div>
    </nav>
  </div>
<!--Nav Bar-->


<!--TOASTR-->
  <script src="{% static 'jquery.js' %}"></script>
  <script src="{% static 'toastr.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  {% if messages %} {% for message in messages %}
  <script>
    toastr.options = {
      "closeButton": false,
      "debug": false,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-top-center",
      "preventDuplicates": true,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    };
    toastr.{{ message.tags }} ("{{message}}")
  </script>
  {% endfor %} {% endif %}
<!--TOASTR--> 

{% block body %}

{% endblock body %}

<script src="{% static 'js.js' %}"></script>
<script src="{% static 'bootstrap.js' %}"></script>
</body>

</html>