{% extends 'navbar.html'%}

{% block body %}

{% load widget_tweaks %}

<div class="passwordResetBody">
{% if form.errors %}
<p>Please Enter Proper Details</p>
{% endif %}

<form method="POST" class="passwordChangeForm">
{% csrf_token %}
<div class="form-group">
{% render_field form.email type="email" class="form-control" placeholder="Enter Your Email To Receive the Password Reset Link" %}
<div>
    <button class="PassResetLinkButton">Send Email</button>
</div>
</div>

</form>
</div>


{% endblock body %}




