{% extends 'account.html'%}

{% block body %}

{% load widget_tweaks %}

<div class="dashBody">
{% if form.errors %}
    <p>Please Enter Proper Details</p>
{% endif %}
<h2>PLEASE ENTER YOUR NEW PASSWORD</h2>
<form method="POST" class="passwordChangeForm">
{% csrf_token %}
<div class="form-group">
{% render_field form.new_password1 type="password" class="form-control" placeholder="New Password" %}
</div>
<div class="form-group">
{% render_field form.new_password2 type="password" class="form-control" placeholder="Confirm New Password" %}
</div>
<div class="form-group  ">
    <button>Submit</button>
</div>


</form>
</div>


{% endblock body %}




