/* GLOBAL */
body{
    background-color: #B8D8D8 !important;
}
input{
    border-radius: 5px;
    width: 280px;
    height: 40px;
    border: 2px solid rgba(198, 113, 113, 0.525);
}
.navItem{
    padding: 10px;
}
/* GLOBAL */

/* INDEX */
.loginText{
    background-color: #7A9E9F;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #cedf94;
    border-radius: 3px;
}
.subContainer{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: #658384;
    margin: 10px;
    padding: 3px;
}   
.viewArea{
    text-align: center;
    padding: 10px;
    background-color: #EEF5DB;
    height: 500px;
    
}
.loginArea{
    text-align: center;
    background-color: #7A9E9F;
    padding: 10px;
}
.userNameInput{
    margin-top: 20px;
}
.userPasswordInput{
    margin-top: 20px;
}
.LoginButton{
    margin-top: 10px;
    
}
#Loginbtn{
    margin-top: 15px;
    width: 280px;
    height: 40px;
    border: #FFFFFF;
    border-radius: 5px;
    background-color: #ecb16f;
}
.inputField{
    border-radius: 5px;
    margin-top: 30px;
    padding: 2px;
    height: 330px;
   
}
.newAccount{
    position: relative;
    top: 50px;
}
#newAccountBtn{
    border: none;
    width: 280px;
    height: 40px;
    background-color: #58d778;
    border-radius: 5px;
}
.line{
    position: relative;
    top: 30px;
    height: 2px;
    background-color: #ffffff;
}
.navBar{
    border: 5px solid rgba(0, 0, 0, 0.194);
}
#dayPicker{
    text-align:center;
}
#datePicker{
    width:120px; height:22px; 
}
#endTime, #startTime{
    width:120px; height:22px;
}
.roomDisplay{
    border-radius: 10px;
    text-align: left;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #58d778;
}
.dashContainer{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #658384;
    margin: 10px;
    padding: 3px;
    height: 100vh;
} 
.dashMenu{
    text-align: center;
}
.dashBody{
    text-align: left;
    padding: 10px;
    background-color: #EEF5DB;
    
}
.dashRoomDisp{
    padding: 10px 30px;
    margin-top: 20px;
    background-color: rgb(157, 255, 0);
}