/* GLOBAL */

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: #261C15 !important; */
    /* background-color:#356682 !important; */
    background-image: linear-gradient(145deg, #57dac9 , #be4d68) !important;
}
select{
    border-radius: 7px;
    text-align: center;
    border: 2px solid #9b9ea0;
}
.SearchForm{
    text-align: center;
}
input{
    border-radius: 5px;
    width: 80%;
    height: 40px;
    border: 2px solid #9b9ea0;
}
.navItem{
    padding: 10px;
}
form{
    display: inline;
}
label{
  text-align: center;
  font-size: medium;
}
/* GLOBAL */

/* NAVBAR */
.navbar,.navBar{
  border-radius: 7px !important;
}


/* INDEX */
.loginText{
    background-color: #7A9E9F;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #cedf94;
    border-radius: 3px;
}
.subContainer{
  display: grid;
  grid-template-columns: 68% 32%;
  
}   
.viewArea{
    text-align: center;
    padding: 10px;
    height: 100vh;
}
.loginArea{
  margin: 5px;
  border-radius: 3px;
  text-align: center;
  background-color: #3E505B;
  padding: 10px;
}
.userNameInput{
    margin-top: 20px;
}
.userPasswordInput{
    margin-top: 20px;
}
.LoginButton{
  
  margin-top: 10px;
    
}
#Loginbtn{

  margin-top: 15px;
  width: 80%;
  height: 40px;
  border: #FFFFFF;
  border-radius: 5px;
  background-color: #4e98ad;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}
#Loginbtn:hover{
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.inputField{
  border-radius: 5px;
  margin-top: 30px;
  padding: 2px;
   
}
.newAccount{
  position: relative;
  top: 50px;
}
#newAccountBtn{
  color: white;
  border: none;
  width: 80%;
  height: 45px;
  margin-top: 10px;
  background-color: #bb425e;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
}
#newAccountBtn:hover{
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.line{
    position: relative;
    height: 2px;
    background-color: #ffffff;
}
.navBar{
  margin:5px;
}
#dayPicker{
    text-align:center;
}
#datePicker{
    text-align: center;
    width:25px; height:22px; 
}
#endTime, #startTime{
    text-align: center;
    height:22px;
}
.roomDisplay{
    border-radius: 5px;
    text-align: left;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
}
.dashContainer{
  border-radius: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color:rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 3px;
    height: 100vh;
    overflow: hidden;

} 
.menuHeader{
  cursor:default;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  /* border-top: 5px solid black; */
  border-bottom: 5px solid rgb(255, 255, 255);
  /* text-decoration:underline; */
}
.dashMenu{
  /* padding-top: 10px; */
  border-radius: 5px;
  color: white;
  background-color: #3E505B;
  text-align: center;
}
.dashBody{
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    
}
.dashRoomDisp{
  border-radius: 5px;
    text-align: left;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
}

/* ADMIN ROOM */
.adminRoomView{
     padding: 2px 2px;
  
   
}
.adminform{
    border-radius: 5px;
    text-align: left;
    padding: 10px 30px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    /* vertical-align: middle; */
   
}

/* ####### */
/* TOGGLE SWITCH */
  .toggle {
      --width: 80px;
      --height: calc(var(--width) / 3);
      top:7px;
      position: relative;
      display: inline-block;
      width: var(--width);
      height: var(--height);
      cursor: pointer;
    }

    .toggle input {
      
      display: none;
    }

  .toggle .labels {
    border-radius: 3px;               
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-family: sans-serif;
    transition: all 1s ease-in-out;
    overflow: hidden;
    vertical-align: middle;
  }

  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #4d4d4d;
    border-radius: 5px;
    border: 1px solid #cbd45541;
    background-color: #ccd455;
    transition: all 1s ease-in-out;
  }

  .toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: calc(var(--width) * -1);
    height: 100%;
    width: 100%;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #76d7da27;
    background-color: #76d7da;
    text-align: center;
    transition: all 1s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    transform: translateX(var(--width));
  }

  .toggle input:checked~.labels::before {
    transform: translateX(var(--width));
  }
/* TOGGLE SWITCH */
/* ####### */
.btn-primary{
  background-color: #4e98ad !important;
}

.activity_light{
  background-color: #00ff2a;
  animation: myanimation 5s infinite; 
}
@keyframes myanimation {
  50% {background-color:#ffffff;}
}

#resetPasswordLink{
  color:#e6817f;
  font-size: 15px;
  text-decoration: none;
}
.forgotPassLink{
  margin: 10px;
}
.orText{
  color: white;
  margin-top: 10px;
}
/* ######################### WIDGET TWEAKS ################################# */
.form-group{
  margin:5% 10% ;
}
.form-control{
  height: 10%;
}
.form-label{
  color: white;
  float: left;
}

#SearchBtn{
  vertical-align: middle;
  border: 2px solid #9b9ea0;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#SearchBtn:hover{
  box-shadow: 0 4px 8px 0 rgba(232, 54, 205, 0.2), 0 6px 20px 0 rgba(232, 54, 205, 0.2);
}

#SignUpModal{
  background-image: linear-gradient(145deg, #57c2da , rgb(102, 130, 53,0.3)) !important;
  /* background-color: rgba(0,0,0,0.5); */
}
.modal-content{
  background-color: #192025;
}
.btn-close{
  background-color: white !important;
}
.modal-header{
  margin: 5px;
  background-color: #192025;
  color: white;
}
.modal-body{
  background-color: #192025;
}

.modal-footer{
  margin: 5px;
  background-color: #192025;
  color: white;
}
#error{
  display: none;
  border-radius: 5px;
  background-color: #ef5b5b;
  float: right;
  padding: 0 10px;
  color: white;
}
.passwordResetBody{
  height: 100vh;
}
.PassResetLinkButton{
  background-color: #ffffff;
  border: none !important;
  border-radius: 5px;
  margin-top: 5px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.roomDelButton,.confirmDelButton{
  border-radius: 5px;
  border: 1px solid #9e6c4a;
  color: white;
  background-color: #b83535;
  font-family: sans-serif;
  /* font-size: 13px; */
  /* font-family: sans-serif; */

}
.bookedDisplay{
  border-radius: 5px;
  /* border: 1px solid #37b868; */
  /* background-color: #2c9253; */
  font-family: sans-serif;
  /* animation: myanimation 5s infinite; */
}
.submitBtn{
  border-radius: 5px;
  border: 1px solid #37b868;
  color: white;
  background-color: #2c9253;
  font-family: sans-serif;
}
.btnCancel, .btnConfirmCancel{
  border-radius: 5px;
  border: 1px solid #1d3e68;
  color: white;
  background-color: #356eb8;
  font-family: sans-serif;
}



/* //////////////////////// */
.waviy span {
  margin:none !important;
  padding: none !important;
  display: inline-block;
  color: rgb(2, 2, 2);
  animation: flip 2s infinite;
  animation-delay: calc(.4s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateZ(360deg)
  }
}
/* ///////////////////////// */